/*Bundled by CustomBundler on machine ACER7750 at 10/01/2014 19:09:10*/
/*Style1.css*/
/* --------------------------------------------
    Home Styles
----------------------------------------------- */

#home-header,
.home-info 
{
    zoom: 1;
}

#home-header:after,
.home-info:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Header
----------------------------------------------- */

#home-header
{
    padding: 15px 30px;
    background: #fff;
}

#home-header .userinfo dt a,
#home-header .userinfo .user
{
    margin-left: 8px;
    margin-right: 15px;
    color: #000;
}

#home-header .userinfo strong
{
    float: left;
    margin-right: 5px;
    border-right: 1px solid #D7D7D7;
}

#home-header .userinfo li
{
    padding-top: 5px;
}

#home-header .userinfo dd
{
    padding-left: 10px;
}

#home-header .userinfo ul
{
    float: left;
}

#home-header .userinfo dt,
#home-header .userinfo dd
{
    display: inline;
}

#home-header .partner
{
    float: left;
}
/*Style2.css*/

/* Search
----------------------------------------------- */

#home-search
{
    position: relative;
    height: 310px;
    background: #c00 url("/image/home_bg.png") 0 100% repeat-x;
    z-index: 1000;
}

#home-search h1,
#home-search h2
{
    padding: 30px;
    color: #fff;
    text-align: center;
}

#home-search h1 img
{
    width: 409px;
    height: 93px;
}

#home-search h2
{
    padding-top: 98px;
}

/* Search Box
----------------------------------------------- */

#home-search .search
{
    position: absolute;
    top: 150px;
    left: 215px;
    width: 551px;
}

#home-search .searchtext
{
    padding: 6px 0 0 9px;
    width: 386px;
    height: 25px;
    font-size: 130%;
}

#home-search .searchbutton
{
    padding-top: 33px;
    width: 130px;
    background-image: url("/image/search_button_home.png");
}

#home-search .searchsample, 
#home-search .searchregion
{
    font-size: 90%;
}

#home-search .searchsample
{
	top: 44px;
}

#home-search .search .sc-h
{
    background-image: url("/image/search_header_home.png");
}

#home-search .search .sc-b
{
    background-image: url("/image/search_body_home.png");
}

#home-search .search .sc-f
{
    background-image: url("/image/search_footer_home.png");
}

